<template>
  <div class="hello">
    <h1>Co2 Emitted by vehicle production</h1>
    <VehicleForm />
    <hr />

    <div class="row">
      <div class="form-group col">
        <label for="step">
          Step
        </label>
        <div class="input-group">
          <input id="step" name="step" class="form-control"
                 v-validate="`required|integer`"
                 v-model="step"
                 :class="{'is-invalid': errors.has('step') }">
          <div class="input-group-append">
            <span class="input-group-text">Km</span>
          </div>
        </div>
      </div>
      <div class="form-group col">
        <label for="size">
          Graph size
        </label>
        <div class="input-group">
          <input id="size" name="size" class="form-control"
                 v-validate="`required|integer`"
                 v-model="size"
                 :class="{'is-invalid': errors.has('size') }">
          <div class="input-group-append">
            <span class="input-group-text">Km</span>
          </div>
        </div>
      </div>
    </div>
    <Chart :chartData="chartData" :options="options" />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Chart from './Chart'
import VehicleForm from './VehicleForm'
import { chartData } from "../model/emission";

export default {
  name: 'Home',
  data () {
    return {
      step: 10000,
      size: 200000,
      options: {
        scales: {
          xAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Total km drove',
            }
          }],
          yAxes: [{
            ticks: {
              beginAtZero: true
            },
            scaleLabel: {
              display: true,
              labelString: 'Kg Co2',
            }
          }],
        },
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          colorschemes: {
            scheme: 'brewer.Accent4',
          },
        },
      },
    }
  },
  computed: {
    ...mapState({
      vehicles: state => state.vehicle.vehicles,
      hypothesis: state => state.hypothesis,
    }),
    editVehicle () {
      return this.$route.params.id
    },
    chartData () {
      let data = {
        labels: [...Array(parseInt(this.size / this.step)).keys()].map(x => x * this.step),
        datasets: []
      };

      for (let i in this.vehicles) {
        if (this.vehicles.hasOwnProperty(i)) {
          let dataset = {
            label: this.vehicles[i].name,
            data: chartData(this.hypothesis, this.vehicles[i], this.size)
          };

          data.datasets.push(dataset)
        }
      }

      return data
    }
  },
  components: {
    Chart,
    VehicleForm
  },
}
</script>

<style scoped lang="scss">

</style>
