<template>
    <div class="hypothesis">
        <h2>Hypothesis</h2>

        <div class="form-group row">
            <label for="batteryEnergyPerKwh" class="col-sm-6 col-form-label">
                Energy required for 1Kwh of battery storage
            </label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input id="batteryEnergyPerKwh" class="form-control"
                           :value="batteryEnergyPerKwh"
                           @input="updateBatteryEnergyPerKwh">
                    <div class="input-group-append">
                        <span class="input-group-text">Kwh</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="co2PerKwhStorage" class="col-sm-6 col-form-label">
                Kg of co2 per Kwh of energy required for battery production
            </label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input id="co2PerKwhStorage" class="form-control"
                           :value="co2PerKwhStorage"
                           @input="updateCo2PerKwhStorage">
                    <div class="input-group-append">
                        <span class="input-group-text">Kg</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="co2PerKwhElec" class="col-sm-6 col-form-label">
                Kg of Co2 per Kwh of electricity produced
            </label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input id="co2PerKwhElec" class="form-control"
                           :value="co2PerKwhElec"
                           @input="updateCo2PerKwhElec">
                    <div class="input-group-append">
                        <span class="input-group-text">Kg</span>
                    </div>
                </div>

                <small class="form-text text-muted">
                    To get real time accurate values please visit
                    <a href="https://www.electricitymap.org" target="_blank">
                        https://www.electricitymap.org
                    </a>
                </small>
            </div>
        </div>

        <div class="form-group row">
            <label for="chargeLoss" class="col-sm-6 col-form-label">
                Percent of electricity loss while recharging
            </label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input id="chargeLoss" class="form-control"
                           :value="chargeLoss"
                           @input="updateChargeLoss">
                    <div class="input-group-append">
                        <span class="input-group-text">%</span>
                    </div>
                </div>

                <small class="form-text text-muted">
                    Depends mostly on charge speed, can be huge (check Renault Zoe Q90 for instance)
                </small>
            </div>
        </div>

        <div class="form-group row">
            <label for="co2PerLiterOfGas" class="col-sm-6 col-form-label">
                Kg of Co2 emitted by burning 1 liter of Gas
            </label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input id="co2PerLiterOfGas" class="form-control"
                           :value="co2PerLiterOfGas"
                           @input="updateCo2PerLiterOfGas">
                    <div class="input-group-append">
                        <span class="input-group-text">Kg</span>
                    </div>
                </div>

                <small class="form-text text-muted">
                    Can change a bit if you consider the whole extraction and refining process
                </small>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import * as types from '@/store/hypothesis-types';

export default {
    name: 'Hypothesis',
    computed: {
        ...mapState({
            batteryEnergyPerKwh: state => state.hypothesis.batteryEnergyPerKwh,
            co2PerKwhStorage: state => state.hypothesis.co2PerKwhStorage,
            co2PerKwhElec: state => state.hypothesis.co2PerKwhElec,
            chargeLoss: state => state.hypothesis.chargeLoss,
            co2PerLiterOfGas: state => state.hypothesis.co2PerLiterOfGas,
        })
    },
    methods: {
        updateBatteryEnergyPerKwh (e) {
            this.$store.dispatch('hypothesis/'+types.UPDATE_BATTERY_ENERGY_PER_KWH, e.target.value, {root: true})
        },
        updateCo2PerKwhStorage (e) {
            this.$store.dispatch('hypothesis/'+types.UPDATE_CO2_PER_KWH_SORAGE, e.target.value, {root: true})
        },
        updateCo2PerKwhElec (e) {
            this.$store.dispatch('hypothesis/'+types.UPDATE_CO2_PER_KWH_ELEC, e.target.value, {root: true})
        },
        updateChargeLoss (e) {
            this.$store.dispatch('hypothesis/'+types.UPDATE_CHARGE_LOSS, e.target.value, {root: true})
        },
        updateCo2PerLiterOfGas (e) {
            this.$store.dispatch('hypothesis/'+types.UPDATE_CO2_PER_LITER_OF_GAS, e.target.value, {root: true})
        },
    }
}
</script>

<style scoped lang="scss">

</style>
