<template>
    <div id="nav">
        <b-navbar toggleable="lg" type="dark" variant="info">
            <div class="container">
                <b-navbar-brand href="#">VE ROI Tool</b-navbar-brand>

                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

                <b-collapse id="nav-collapse" is-nav>
                    <b-navbar-nav class="ml-auto">
                        <b-nav-item :to="{ name: 'home' }">Home</b-nav-item>
                        <b-nav-item :to="{ name: 'hypothesis' }">Hypothesis</b-nav-item>
                        <b-nav-item v-on:click="clear">Clear</b-nav-item>
                    </b-navbar-nav>
                </b-collapse>
            </div>
        </b-navbar>
    </div>
</template>

<script>
export default {
    name: 'Nav',
    methods: {
        clear (e) {
            this.$store.dispatch('clear', e.target.value, {root: true})
        }
    }
}
</script>

<style scoped>
</style>
