<template>
  <form id="vehicleForm" @submit.prevent="validateBeforeSubmit">
    <h2>Add a vehicle</h2>

    <div class="alert alert-warning" v-show="errors.length">
      Please fix errors.
    </div>

    <div class="row">
      <div class="form-group col">
        <label for="name">
          Name
        </label>
        <input id="name" name="name" class="form-control"
               v-validate="'required'" data-vv-delay="500"
               v-model="name"
               :class="{'is-invalid': errors.has('name') }">
        <div class="invalid-feedback" v-show="errors.first('name')">
          {{ errors.first('name') }}
        </div>
      </div>
      <div class="form-group col">
        <label for="co2Prod">
          Co2 emitted for production
        </label>
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="batteryIncluded"
                   v-b-tooltip.hover title="Check if production carbon emission include the battery production">
              <input type="checkbox" name="batteryIncluded" id="batteryIncluded" v-model="batteryIncluded" class="mr-2">
              Battery incl.
            </label>
          </div>
          <input id="co2Prod" name="co2Prod" class="form-control"
                 v-validate="'required|integer'" data-vv-delay="500"
                 v-model="co2Prod"
                 :class="{'is-invalid': errors.has('co2Prod') }">
          <div class="input-group-append">
            <span class="input-group-text">Kg</span>
          </div>
        </div>
      </div>
      <div class="form-group col">
        <label for="type">
          Propulsion type
        </label>
        <select id="type" name="type" class="form-control"
                v-validate="'required'"
                v-model="type"
                @change="setElectricUsage($event)"
                :class="{'is-invalid': errors.has('type') }">
          <option value="BEV">BEV - Battery Electric Vehicle</option>
          <option value="ICEV">ICEV - Internal combustion engine vehicle</option>
          <option value="PHEV">PHEV - Plug-in Hybrid Electric Vehicle</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col" v-show="type !== 'ICEV'">
        <label for="batteryCapacity">
          Battery total capacity
        </label>
        <div class="input-group">
          <input id="batteryCapacity" name="batteryCapacity" class="form-control"
                 v-validate="`${type !== 'ICEV' ? 'required' : ''}|decimal`"
                 v-model="batteryCapacity"
                 :class="{'is-invalid': errors.has('batteryCapacity') }">
          <div class="input-group-append">
            <span class="input-group-text">Kwh</span>
          </div>
        </div>
      </div>
      <div class="form-group col" v-show="type !== 'ICEV'">
        <label for="electricityConsumption">
          Electricity consumption / 100Km
        </label>
        <div class="input-group">
          <input id="electricityConsumption" name="electricityConsumption" class="form-control"
                 v-validate="`${type !== 'ICEV' ? 'required' : ''}|decimal`"
                 v-model="electricityConsumption"
                 :class="{'is-invalid': errors.has('electricityConsumption') }">
          <div class="input-group-append">
            <span class="input-group-text">Kwh / 100km</span>
          </div>
        </div>
      </div>
      <div class="form-group col" v-show="type !== 'BEV'">
        <label for="GasConsumption">
          Gasoline consumption / 100Kw
        </label>
        <div class="input-group">
          <input id="GasConsumption" name="GasConsumption" class="form-control"
                 v-validate="`${type !== 'BEV' ? 'required' : ''}|decimal`"
                 v-model="GasConsumption"
                 :class="{'is-invalid': errors.has('GasConsumption') }">
          <div class="input-group-append">
            <span class="input-group-text">L / 100km</span>
          </div>
        </div>
      </div>
      <div class="form-group col" v-show="type === 'PHEV'">
        <label for="onlyElectricUsage">
          Proportion using only electricity
        </label>
        <div class="input-group">
          <input id="onlyElectricUsage" name="onlyElectricUsage" class="form-control"
                 v-validate="`${type !== 'PHEV' ? 'required' : ''}|integer`"
                 v-model="onlyElectricUsage"
                 :class="{'is-invalid': errors.has('onlyElectricUsage') }">
          <div class="input-group-append">
            <span class="input-group-text">%</span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <VehicleButton v-for="(vehicle, index) in vehicles"
                     v-bind:key="'vehicle_button_'+index"
                     v-bind:vehicle="vehicle"
                     v-bind:index="index"
                     v-bind:editing="id === index" />

      <b-button type="submit" v-show="id === null" variant="outline-primary">
        <font-awesome-icon icon="plus" />
        Add vehicle
      </b-button>

      <b-button v-show="id !== null" variant="outline-warning"
                @click="reset">
        <font-awesome-icon icon="window-close" />
        Cancel
      </b-button>
    </div>
  </form>
</template>

<script>
import { mapState } from 'vuex'
import VehicleButton from './VehicleButton'

let initialState = function () {
  return {
    id: null,
    name: null,
    co2Prod: null,
    batteryIncluded: false,
    type: null,
    batteryCapacity: null,
    electricityConsumption: null,
    GasConsumption: null,
    onlyElectricUsage: null,
  }
}

export default {
  name: 'VehicleForm',
  data: initialState,
  computed: {
    ...mapState({
      vehicles: state => state.vehicle.vehicles,
    }),
  },
  methods: {
    edit (val) {
      if (null !== val) {
        let current = this.vehicles[val];

        // Pause vee-validate
        this.$validator.pause();

        for (let i in current) {
          if (current.hasOwnProperty(i)) {
            this.$data[i] = current[i];
          }
        }
        this.id = val;

        // Resume vee-validate
        this.$validator.resume();
      }
    },
    validateBeforeSubmit: function () {
      let self = this;

      this.$validator.validateAll().then((result) => {
          if (result) {
              self.submit();

              return;
          }
      });

      return false;
    },
    setElectricUsage (e) {
      switch (e.target.value) {
        case 'BEV': this.onlyElectricUsage = 100; break;
        case 'PHEV':
        case 'ICEV': this.onlyElectricUsage = 0; break;
      }
    },
    submit () {
      let data = Object.assign({}, this.$data);
      if (null === this.id) {
        this.$store.dispatch('vehicle/addVehicle', data, {root: true})
      } else {
        this.$store.dispatch('vehicle/updateVehicle', data, {root: true})
      }

      this.reset();
    },
    remove (index) {
      this.$store.dispatch('vehicle/removeVehicle', index, {root: true}).then(() => {
        this.reset();
      })
    },
    reset () {
        this.errors.clear();
        this.$validator.reset();
        Object.assign(this.$data, initialState());
    },
  },
  components: {
    VehicleButton
  }
}
</script>

<style scoped lang="scss">

</style>
