<template>
  <div class="vehicle btn-group my-2">
    <b-button :variant="editing ? 'outline-success' : 'outline-secondary'"
              :class="{'mr-2': !editing, success: editing}"
              active-class="outline-success"
              @click="update">
      <font-awesome-icon icon="check-square" v-if="editing" />
      <font-awesome-icon icon="edit" v-else />
      {{ vehicle.name }}
    </b-button>
    <b-button variant="danger" @click="remove" class="mr-2" v-if="editing">
      <font-awesome-icon icon="trash-alt" />
    </b-button>
  </div>
</template>

<script>
export default {
  name: 'VehicleButton',
  methods: {
    remove () {
      this.$parent.remove(this.index);
    },
    update () {
      if (this.editing) {
        this.$parent.validateBeforeSubmit();
      } else {
        this.$parent.edit(this.index);
      }
    }
  },
  props: {
    index: Number,
    editing: Boolean,
    vehicle: Object
  }
}
</script>

<style scoped lang="scss">

</style>
