<template>
  <div id="app">
    <Nav></Nav>
    <div class="container my-5">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import Nav from './components/Nav'

export default {
  name: 'app',
  components: {
    Nav
  }
}
</script>

<style>
#app {
}
</style>
